/* global styles start */
:root {
  --clr-accent-100: hsl(13, 100%, 96%);
  --clr-accent-300: hsl(12, 88%, 70%);
  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-500: hsl(12, 60%, 45%);

  --clr-primary-400: hsl(228, 39%, 23%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 97%);
  --clr-neutral-900: hsl(0, 0%, 0%);

  --ff-primary: "Be Vietnam Pro", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);

  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}
@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-nav: var(--fs-300);
  }
}
/* utility classes */
.sr-only {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-accent-400 {
  color: var(--clr-accent-400);
}
.text-accent-100 {
  color: var(--clr-accent-100);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}
.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-accent-400 {
  background-color: var(--clr-accent-400);
}
.bg-accent-100 {
  background-color: var(--clr-accent-100);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}
.padding-block-700 {
  padding-block: var(--size-700);
}
.padding-block-900 {
  padding-block: var(--size-900);
}
.margin-bottom-700 {
  margin-block-end: var(--size-700);
}
@media (max-width: 50em) {
  .padding-block-700-sm-only {
    padding-block: var(--size-700);
  }
}
.container {
  --max-width: 1110px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.justify-self-end {
  justify-self: end;
}

.flow > :not(:first-child) {
  margin-top: var(--flow-spacer, 3em);
}

.even-columns {
  display: grid;
  gap: 1em;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.text-center {
  text-align: center;
}

@media (max-width: 50em) {
  .text-center-only-sm {
    text-align: center;
  }
}

/* global styles end */

/* general styling */
body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-primary-400);
}

p:not([class]) {
  opacity: 0.7;
  max-width: 32ch;
}

p[data-width="wide"] {
  max-width: 43ch;
  opacity: 0.7;
}

p[data-width="semi-wide"] {
  max-width: 40ch;
  opacity: 0.7;
}

.opened {
  display: block;
  position: fixed;
}

/* button */
.button {
  display: inline-flex;
  border: 0;
  border-radius: 100vmax;
  padding: 1.25em 2.5em;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
  box-shadow: 0 1.125em 1em -1em var(--clr-accent-500);
  &:hover,
  &:focus-visible {
    background-color: var(--clr-accent-300);
  }
}

.button-center {
  display: flex;
  justify-content: center;
}

@media (max-width: 50em) {
  .button-center-sm-only {
    display: flex;
    justify-content: center;
  }
}

.button[data-type="inverted"] {
  background-color: var(--clr-neutral-100);
  color: var(--clr-accent-400);
  &:hover,
  &:focus-visible {
    background-color: var(--clr-neutral-100);
    color: var(--clr-accent-300);
  }
}

.button[data-shadow="none"] {
  box-shadow: none;
}

.background-hero-section-pattern {
  position: absolute;
  z-index: -1;
  background-image: url(/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  top: -14rem;
  right: 0rem;
  width: 45%;
  height: 100%;
}

@media (max-width: 50em) {
  .background-hero-section-pattern {
    top: -26rem;
    width: 86%;
  }
}

.primary-header {
  padding-top: var(--size-700);
  text-transform: capitalize;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mobile-nav-toggle {
      display: none;
      .icon-close {
        display: none;
      }
    }

    .primary-navigation {
      .nav-list {
        display: flex;
        /* gap: 1.5rem; */
        gap: clamp(var(--size-300), 4vw, var(--size-800));
        font-size: var(--fs-nav);
        font-weight: var(--fw-semi-bold);

        a {
          text-decoration: none;
          color: var(--clr-primary-400);
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

@media (max-width: 50em) {
  .primary-header {
    .container {
      .mobile-nav-toggle {
        display: block;
        position: fixed;
        top: calc(var(--size-600) + 0.45rem);
        right: var(--size-500);
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
        width: 1.5rem;
        aspect-ratio: 1;
        background-image: url("../images/icon-hamburger.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../images/icon-close.svg");
      }

      .nav-list {
        .icon-close {
          display: none;
        }
      }
      .primary-navigation {
        display: none;
        position: fixed;
        padding: var(--size-700);
        inset: 7rem var(--size-600) auto;
        max-width: 25rem;
        margin-inline: auto;
        border-radius: var(--size-100);
        background-color: var(--clr-neutral-100);
        box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
        .nav-list {
          flex-direction: column;
          gap: var(--size-600);
          text-align: center;
          font-weight: var(--fw-bold);
          a {
            color: var(--clr-neutral-900);
          }
        }
      }

      .primary-navigation[data-visible] {
        display: block;
        position: fixed;
      }
      .header-button {
        display: none;
      }
    }
  }
  .primary-header[data-overlay] {
    position: relative;
    z-index: 999;
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.8));
  }
}

.hero-section {
  position: relative;
}

@media (max-width: 50em) {
  .hero-section {
    .container {
      .even-columns {
        div:first-child {
          order: 2;
        }
      }
    }
  }
}

.why-manage {
  .container {
    .even-columns {
      .advantages-list {
        .numbred-items {
          counter-reset: count;
          li {
            counter-increment: count;
            div {
              display: grid;
              position: relative;
              grid-template-columns: min-content 1fr;
              align-items: center;
              gap: var(--size-300);
              .numbred-items__title {
                line-height: 1;
              }
              .numbred-items__title::before {
                --bg: var(--clr-accent-100);
                content: "";
                position: absolute;
                z-index: -1;
                background-color: var(--bg);
                inset: 0;
                grid-column: span 2;
                grid-row: 1 / 2;
                border-radius: 100vw 0px 0px 100vw;
                box-shadow: 3em 0px 0px var(--bg);
              }
            }
            p {
              grid-column: 1 / -1;
            }
          }
          div::before {
            content: "0" counter(count);
            background-color: var(--clr-accent-400);
            color: var(--clr-neutral-100);
            font-weight: var(--fw-bold);
            padding: var(--size-200) var(--size-500);
            border-radius: 100vw;
          }
        }
      }
    }
  }
  &::before {
    display: none;
  }
}

@media (min-width: 30em) {
  .why-manage {
    position: relative;
    .container {
      .advantages-list {
        width: -moz-fit-content;
        width: fit-content;
        margin-inline: auto;
        .numbred-items {
          li {
            .flow {
              .numbred-items__title::before {
                display: none;
              }
              .numbred-items__body {
                grid-column: 2 / -1;
              }
            }
          }
        }
      }
    }
    &::before {
      content: url(/images/bg-tablet-pattern.svg);
      position: absolute;
      z-index: -1;
      top: 22rem;
      left: -28rem;
      display: block;
    }
  }
}

.carousel {
  .swiper {
    margin-block: var(--size-900);
    padding-block: var(--size-600);
    /* background-color: aquamarine; */
    .swiper-wrapper {
      .swiper-slide {
        position: relative;
        display: grid;
        row-gap: var(--size-600);
        text-align: center;
        isolation: isolate;
        img {
          margin-inline: auto;
          width: calc(var(--size-700) * 2);
        }

        &::before {
          content: "";
          position: absolute;
          bottom: calc(var(--size-500) * -1);
          left: -5%;
          width: 110%;
          height: 90%;
          background-color: var(--clr-neutral-200);
          z-index: -1;
          border-radius: var(--size-200);
        }
      }
    }
    .swiper-pagination {
      display: none;
    }
  }
}
@media (max-width: 50rem) {
  .carousel {
    .swiper {
      margin-block: var(--size-600);
      .swiper-wrapper {
        padding-bottom: var(--size-600);
        .swiper-slide {
          padding-inline: var(--size-800);

          &::before {
            display: none;
          }
        }
      }
      .swiper-pagination {
        display: block;
        bottom: 0;
      }
      .swiper-pagination-bullet {
        width: 0.5rem;
        height: 0.5rem;
        background-color: transparent;
        border: solid 1px var(--clr-accent-500);
      }
      .swiper-pagination-bullet-active {
        background-color: var(--clr-accent-400);
        border-color: var(--clr-accent-400);
      }
    }

    .button-container {
      margin-top: var(--size-800);
    }
  }
}

.cta {
  position: relative;
  isolation: isolate;
  .container {
    .even-columns {
      align-items: center;
    }
  }
}

.cta::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: url("../images/bg-tablet-pattern.svg"),
    url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: 5rem -5rem, 73rem -40rem;
  opacity: 0.1;
}

@media (max-width: 50em) {
  .cta {
    .container {
      .even-columns {
        text-align: center;
        align-items: center;
        gap: var(--size-600);
        .justify-self-end {
          justify-self: center;
        }
      }
    }
  }
  .cta::before {
    background-position: -50em 0;
  }
}

footer {
  .container {
    .even-columns {
      div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .footer-logo {
          --logo-color: var(--clr-accent-100);
        }

        ul {
          display: flex;
          gap: var(--size-200);
          a {
            .social-icon {
              width: var(--size-500);
              fill: var(--clr-neutral-100);
              aspect-ratio: 1;
            }
            &:is(:hover, :focus) {
              .social-icon {
                fill: var(--clr-accent-400);
              }
            }
          }
        }
      }

      div:nth-child(2) {
        nav {
          columns: 2;
          ul {
            display: flex;
            flex-direction: column;
            li {
              margin-block: var(--size-200);
              a {
                color: var(--clr-neutral-100);
                text-decoration: none;
                &:hover,
                &:focus-visible {
                  color: var(--clr-accent-400);
                }
              }
            }
          }
        }
      }

      div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-self: end;

        form {
          display: flex;
          gap: var(--size-300);
          input:where([type="text"], [type="email"]) {
            border-radius: 100vw;
            border: 0;
            padding: var(--size-300) var(--size-400);
          }
        }
        p {
          margin-left: auto;
        }
      }
    }
  }
}

@media (max-width: 50em) {
  footer {
    .container {
      .even-columns {
        gap: var(--size-700);
        div:first-child {
          order: 2;
          height: 8em;
          flex-direction: column-reverse;
          align-items: center;

          ul {
            width: 100%;
            gap: 0;
            justify-content: space-around;
            a {
              .social-icon {
                width: var(--size-600);
              }
            }
          }
        }

        div:nth-child(2) {
          order: 1;
          ul {
            li {
              margin-left: var(--size-700);
            }
          }
        }

        div:last-child {
          justify-self: center;
          gap: var(--size-600);
          p {
            margin-inline: auto;
          }
        }
      }
    }
  }
}
